body {
    background-color: gray;
}
.frame1 {
    border: 2px solid #ccccca;
    background-color: #a3a39c;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    text-align: center;
}
.field {
    display: flex;
    padding: 10px;
    width: 30%;
    margin-left: 35%;
    color: rgb(26, 25, 25);
    font-size: 1.3em;
    flex-direction: column;
    align-items: center;
}
.frame1:last-child {
    margin-bottom: 0;
  }
  
  button.btn {
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 0.65em;
    color: #fff;
    outline: none;
  }
  
  .btn.light {
    background-color: #3fdb66;
    border: 2px solid #05860b;
  }
  
  .btn.red {
    background-color: #f54949;
    border: 2px solid #ff0000;
  }
  
  textarea {
    resize: none;
    background-color: #fafafa;
    border: 1.5px solid silver;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.7em;
    width: 90%;
    outline: none;
  }
  
  textarea:focus {
    border: 1.5px solid #00c932;
  }
  
  .btn.success {
    background-color: #4fc966;
    border: 2px solid #2aa24f;
  }
  
  .btn.light:hover {
    background-color: #00c00a;
    border-color: #00b60f;
  }
  
  .btn.red:hover {
    background-color: #630000;
    border-color: #941212;
  }
  
  .btn.success:hover {
    background-color: #2aa24f;
    border: 2px solid #1e853e;